@charset "UTF-8";
@import url("../fonts/Etelka/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::selection {
    background-color: transparent; }
  * a, * button {
    cursor: pointer; }

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Etelka Light Pro';
  font-size: 12px;
  color: white;
  background-image: url(../images/bgmain.png); }

.container-fluid {
  width: 100%; }
  .container-fluid .home-block {
    width: 100%;
    height: 115vh;
    min-height: 700px;
    background-color: #291d23;
    background-image: url(../images/bg1.png);
    background-size: cover;
    background-position: 50% 50%;
    position: relative; }
    .container-fluid .home-block .home-block-center {
      max-width: 935px;
      width: 80%;
      margin: 0 auto; }
      .container-fluid .home-block .home-block-center .nav {
        width: 100%;
        padding: 24px 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(240, 240, 240, 0.7); }
        .container-fluid .home-block .home-block-center .nav .language-menu {
          width: 33.3%;
          transition: margin-left 0.03s ease-out;
          transition-delay: 0s; }
          .container-fluid .home-block .home-block-center .nav .language-menu.run-lang-menu {
            transition: margin-left 0.3s ease-out;
            transition-delay: 0.1s;
            margin-left: 0px; }
          .container-fluid .home-block .home-block-center .nav .language-menu ul {
            list-style: none;
            margin-left: -5px; }
            .container-fluid .home-block .home-block-center .nav .language-menu ul li {
              display: inline-block; }
              .container-fluid .home-block .home-block-center .nav .language-menu ul li a {
                text-decoration: none;
                color: white;
                padding: 3.5px;
                text-transform: capitalize; }
        .container-fluid .home-block .home-block-center .nav .logo {
          width: 33.3%; }
          .container-fluid .home-block .home-block-center .nav .logo img {
            display: block;
            margin: 0 auto;
            width: 48%; }
        .container-fluid .home-block .home-block-center .nav .nummail {
          width: 33.3%;
          text-align: right;
          display: flex;
          justify-content: flex-end;
          align-items: center; }
          .container-fluid .home-block .home-block-center .nav .nummail .icon-tel {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #E3C794;
            position: relative;
            margin-right: 10px; }
            .container-fluid .home-block .home-block-center .nav .nummail .icon-tel img {
              width: 50%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
          .container-fluid .home-block .home-block-center .nav .nummail .contact span {
            display: block;
            word-spacing: -1px;
            padding: 0px 0px; }
      .container-fluid .home-block .home-block-center .nav-menu {
        width: 100%;
        margin: 20px 0px 205px; }
        .container-fluid .home-block .home-block-center .nav-menu ul .nav-item .nav-link:hover {
          color: #C19B46; }
        .container-fluid .home-block .home-block-center .nav-menu .button-nav-menu {
          display: none;
          width: 40px;
          height: 40px;
          margin-left: auto; }
          .container-fluid .home-block .home-block-center .nav-menu .button-nav-menu .line {
            width: 100%;
            height: 4px;
            background-color: white;
            border-radius: 5px;
            margin-left: auto;
            margin-bottom: 5px; }
            .container-fluid .home-block .home-block-center .nav-menu .button-nav-menu .line.two {
              width: 25px; }
            .container-fluid .home-block .home-block-center .nav-menu .button-nav-menu .line.three {
              width: 35px; }
        .container-fluid .home-block .home-block-center .nav-menu > ul {
          width: 100%;
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition-property: height min-height;
          transition-duration: 0.2s;
          transition-timing-function: ease-out; }
          .container-fluid .home-block .home-block-center .nav-menu > ul.run-menu {
            min-height: 600px;
            height: 100vh;
            padding: 4vh 0; }
          .container-fluid .home-block .home-block-center .nav-menu > ul > li:nth-of-type(2) {
            position: relative; }
          .container-fluid .home-block .home-block-center .nav-menu > ul > li > a {
            text-decoration: none;
            color: white;
            padding: 5px 0px;
            text-transform: capitalize;
            word-spacing: 3px; }
            .container-fluid .home-block .home-block-center .nav-menu > ul > li > a:first-child {
              padding-left: 0px !important; }
            .container-fluid .home-block .home-block-center .nav-menu > ul > li > a:last-child {
              padding-right: 0px !important; }
            .container-fluid .home-block .home-block-center .nav-menu > ul > li > a .icon {
              display: inline-block;
              vertical-align: middle; }
          .container-fluid .home-block .home-block-center .nav-menu > ul > li .dropdown-menu {
            display: none;
            width: 135%;
            position: absolute;
            left: -5%;
            margin-top: 10px;
            border-top: 3px solid #E3C794;
            background-color: rgba(240, 240, 240, 0.7); }
            .container-fluid .home-block .home-block-center .nav-menu > ul > li .dropdown-menu.run-drop-menu {
              display: block; }
            .container-fluid .home-block .home-block-center .nav-menu > ul > li .dropdown-menu ul {
              width: 100%;
              list-style: none;
              padding-bottom: 3px; }
              .container-fluid .home-block .home-block-center .nav-menu > ul > li .dropdown-menu ul li {
                display: block;
                width: 100%; }
                .container-fluid .home-block .home-block-center .nav-menu > ul > li .dropdown-menu ul li a {
                  text-decoration: none;
                  color: white;
                  font-size: 11px;
                  display: block;
                  padding: 4px 0px 4px 6px; }
                  .container-fluid .home-block .home-block-center .nav-menu > ul > li .dropdown-menu ul li a:hover {
                    background-color: #E3C794; }
      .container-fluid .home-block .home-block-center .home-content {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .container-fluid .home-block .home-block-center .home-content .content-text {
          width: 85%;
          align-self: stretch; }
          .container-fluid .home-block .home-block-center .home-content .content-text h2.title {
            width: 100%;
            font-size: calc(20px + 3vw);
            color: #E3C794;
            letter-spacing: -0.5px;
            font-stretch: extra-expanded;
            font-family: 'Etelka Medium Pro'; }
          .container-fluid .home-block .home-block-center .home-content .content-text h2.unrtitle {
            width: 100%;
            font-size: calc(9px + 2vw);
            line-height: 35px;
            letter-spacing: 0.5px;
            word-spacing: 0.5px;
            font-family: 'Etelka Medium Pro'; }
          .container-fluid .home-block .home-block-center .home-content .content-text p {
            padding: 1vw 0px 40px;
            font-size: calc(8px + 0.4vw);
            letter-spacing: 0.6px;
            word-spacing: 0.8px;
            line-height: 25px; }
          .container-fluid .home-block .home-block-center .home-content .content-text button {
            padding: 14px 16px 11px 20px;
            background-color: #E3C794;
            border: none;
            letter-spacing: 0.1px;
            word-spacing: 1px; }
            .container-fluid .home-block .home-block-center .home-content .content-text button:hover {
              transform: scale(1.1, 1.1);
              transition: .2s; }
            .container-fluid .home-block .home-block-center .home-content .content-text button img {
              width: 13px;
              height: 13px;
              vertical-align: middle;
              margin-left: 11px; }
        .container-fluid .home-block .home-block-center .home-content .content-play-video {
          align-self: flex-end;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .container-fluid .home-block .home-block-center .home-content .content-play-video .play-text {
            writing-mode: vertical-rl;
            transform: rotate(180deg); }
            .container-fluid .home-block .home-block-center .home-content .content-play-video .play-text span {
              display: block;
              padding: 0px 1px; }
              .container-fluid .home-block .home-block-center .home-content .content-play-video .play-text span:nth-of-type(1) {
                text-transform: capitalize; }
              .container-fluid .home-block .home-block-center .home-content .content-play-video .play-text span:nth-of-type(2) {
                text-transform: uppercase;
                font-family: 'Etelka Medium Pro';
                font-size: 10px;
                letter-spacing: 1px; }
          .container-fluid .home-block .home-block-center .home-content .content-play-video .play-icon {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: white;
            margin-top: 15px;
            margin-bottom: -5px;
            position: relative;
            cursor: pointer; }
            .container-fluid .home-block .home-block-center .home-content .content-play-video .play-icon .play-icon-circle {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 60%;
              height: 60%;
              border-radius: 50%;
              background-color: #E3C794; }
              .container-fluid .home-block .home-block-center .home-content .content-play-video .play-icon .play-icon-circle img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 40%;
                transform: translate(-50%, -50%); }
    .container-fluid .home-block .social-icons {
      height: 120px;
      position: absolute;
      left: 2%;
      bottom: 3%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .container-fluid .home-block .social-icons .icons-item {
        cursor: pointer; }
        .container-fluid .home-block .social-icons .icons-item img {
          filter: invert(1);
          width: 24px;
          height: 24px; }
    .container-fluid .home-block .position-block {
      background-color: #fff;
      color: black;
      position: absolute;
      bottom: -65px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 965px;
      width: 80%;
      height: 130px;
      padding: 20px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .container-fluid .home-block .position-block .col-3 {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .container-fluid .home-block .position-block .col-3 .icon {
          vertical-align: middle;
          margin-right: 5px; }
          .container-fluid .home-block .position-block .col-3 .icon img {
            width: 80%; }
        .container-fluid .home-block .position-block .col-3 .text {
          vertical-align: middle; }
          .container-fluid .home-block .position-block .col-3 .text h6 {
            font-family: 'Etelka Medium Pro';
            font-size: 11px; }
          .container-fluid .home-block .position-block .col-3 .text p {
            font-size: 10px;
            padding-top: 2px; }
  .container-fluid .about-block {
    margin: 0 auto;
    width: 80%;
    max-width: 935px;
    background-color: transparent;
    padding: 130px 0px 110px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: black; }
    .container-fluid .about-block .about-citizen {
      width: 40%;
      padding: 70px 0px 0px; }
      .container-fluid .about-block .about-citizen h2 {
        font-size: 38px;
        color: #C19B46;
        font-family: 'Etelka Medium Pro'; }
        .container-fluid .about-block .about-citizen h2 span {
          color: black; }
      .container-fluid .about-block .about-citizen h4 {
        font-size: 18px;
        margin-top: 10px; }
      .container-fluid .about-block .about-citizen p {
        padding: 25px 30px 25px 0px;
        line-height: 22px; }
      .container-fluid .about-block .about-citizen button {
        padding: 14px 16px 11px 20px;
        background-color: #E3C794;
        border: none;
        letter-spacing: 0.1px;
        word-spacing: 1px; }
        .container-fluid .about-block .about-citizen button:hover {
          transform: scale(1.1, 1.1);
          transition: .2s; }
        .container-fluid .about-block .about-citizen button img {
          width: 13px;
          height: 13px;
          vertical-align: middle;
          margin-left: 11px; }
    .container-fluid .about-block .images-citizen {
      width: 60%;
      display: flex; }
      .container-fluid .about-block .images-citizen .citizen-img-group {
        width: 50%;
        padding: 30px 0px 0px 20px; }
        .container-fluid .about-block .images-citizen .citizen-img-group .citizen-img-one {
          margin-bottom: 20px;
          width: 100%; }
          .container-fluid .about-block .images-citizen .citizen-img-group .citizen-img-one img {
            width: 100%; }
        .container-fluid .about-block .images-citizen .citizen-img-group .citizen-img-two {
          width: 100%; }
          .container-fluid .about-block .images-citizen .citizen-img-group .citizen-img-two img {
            width: 100%; }
      .container-fluid .about-block .images-citizen .citizen-img-three {
        width: 50%;
        padding-left: 20px; }
        .container-fluid .about-block .images-citizen .citizen-img-three img {
          width: 100%; }
  .container-fluid .services-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap; }
    .container-fluid .services-block .col-3 {
      cursor: pointer;
      width: 25%;
      position: relative; }
      .container-fluid .services-block .col-3 img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .container-fluid .services-block .col-3 .info {
        font-family: 'Etelka Medium Pro';
        position: absolute;
        bottom: 4%;
        left: 0;
        width: 100%;
        padding: 0px 4%;
        display: flex;
        justify-content: space-between; }
        .container-fluid .services-block .col-3 .info .icon-text .icon {
          display: inline-block;
          vertical-align: middle; }
          .container-fluid .services-block .col-3 .info .icon-text .icon img {
            width: 2.3vw; }
            .container-fluid .services-block .col-3 .info .icon-text .icon img.invert {
              filter: invert(1); }
        .container-fluid .services-block .col-3 .info .icon-text p {
          margin-left: 0.8vw;
          display: inline-block;
          vertical-align: middle;
          font-size: 1vw; }
        .container-fluid .services-block .col-3 .info span.number {
          font-size: calc(10px + 2vw);
          color: rgba(240, 240, 240, 0.4); }
  .container-fluid .logo-block {
    max-width: 935px;
    width: 80%;
    background-color: transparent;
    margin: 0 auto;
    padding: 90px 0;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
    .container-fluid .logo-block .mice-uzb-text {
      width: 50%; }
      .container-fluid .logo-block .mice-uzb-text h6 {
        font-family: 'Etelka Medium Pro';
        font-size: 38px; }
        .container-fluid .logo-block .mice-uzb-text h6 span {
          color: #C19B46; }
      .container-fluid .logo-block .mice-uzb-text p {
        word-spacing: -1px;
        line-height: 18px;
        padding: 13px 0px;
        font-weight: bold; }
      .container-fluid .logo-block .mice-uzb-text ul {
        display: inline-block;
        width: 49%;
        font-weight: bold;
        vertical-align: top; }
        .container-fluid .logo-block .mice-uzb-text ul.left-list-inMiceuzb {
          list-style: none; }
          .container-fluid .logo-block .mice-uzb-text ul.left-list-inMiceuzb li {
            padding: 5px 0; }
            .container-fluid .logo-block .mice-uzb-text ul.left-list-inMiceuzb li::before {
              content: '☒';
              padding-right: 5px; }
            .container-fluid .logo-block .mice-uzb-text ul.left-list-inMiceuzb li:nth-of-type(3) {
              color: #C19B46; }
        .container-fluid .logo-block .mice-uzb-text ul.right-list-inMiceuzb {
          list-style: none; }
          .container-fluid .logo-block .mice-uzb-text ul.right-list-inMiceuzb li {
            padding: 5px 0; }
            .container-fluid .logo-block .mice-uzb-text ul.right-list-inMiceuzb li::before {
              content: url(../icons/chevron-down-solid.svg.png);
              filter: invert(1);
              margin-right: 5px; }
    .container-fluid .logo-block .mice-uzb-img {
      width: 48%;
      display: flex; }
      .container-fluid .logo-block .mice-uzb-img img {
        align-self: center;
        width: 100%; }
  .container-fluid .packages-block {
    width: 100%;
    background-color: rgba(240, 240, 240, 0.5);
    color: black; }
    .container-fluid .packages-block .packages-block-center {
      max-width: 935px;
      width: 80%;
      margin: 0 auto;
      padding: 40px 0; }
      .container-fluid .packages-block .packages-block-center h4.title {
        font-size: 38px;
        padding-bottom: 20px;
        text-align: center;
        font-family: 'Etelka Medium Pro'; }
        .container-fluid .packages-block .packages-block-center h4.title span {
          color: #C19B46; }
      .container-fluid .packages-block .packages-block-center .card-deck {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        .container-fluid .packages-block .packages-block-center .card-deck .card {
          width: 32%;
          background-color: #fff; }
          .container-fluid .packages-block .packages-block-center .card-deck .card .card-img {
            width: 100%;
            position: relative; }
            .container-fluid .packages-block .packages-block-center .card-deck .card .card-img::before {
              content: url(../icons/plus.png);
              opacity: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
            .container-fluid .packages-block .packages-block-center .card-deck .card .card-img img {
              width: 100%; }
            .container-fluid .packages-block .packages-block-center .card-deck .card .card-img:hover::before {
              opacity: 1; }
          .container-fluid .packages-block .packages-block-center .card-deck .card .card-body {
            width: 100%;
            padding: 15px 15px 10px;
            border-bottom: 1px solid #f0f0f0;
            overflow: hidden;
            text-overflow: ellipsis; }
            .container-fluid .packages-block .packages-block-center .card-deck .card .card-body h6.title {
              font-size: 16px;
              font-family: 'Etelka Medium Pro';
              padding-bottom: 5px; }
            .container-fluid .packages-block .packages-block-center .card-deck .card .card-body small {
              width: 100%;
              font-size: 10px;
              font-weight: bold;
              white-space: nowrap;
              color: rgba(0, 0, 0, 0.7); }
              .container-fluid .packages-block .packages-block-center .card-deck .card .card-body small img {
                width: 10px;
                margin-right: 4px; }
          .container-fluid .packages-block .packages-block-center .card-deck .card .card-footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-left: 15px; }
            .container-fluid .packages-block .packages-block-center .card-deck .card .card-footer .info {
              width: 65%;
              display: flex;
              justify-content: space-around;
              padding: 13px 0px; }
              .container-fluid .packages-block .packages-block-center .card-deck .card .card-footer .info span {
                width: 33.3%;
                font-size: 10px;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.7); }
            .container-fluid .packages-block .packages-block-center .card-deck .card .card-footer button {
              width: 35%;
              font-size: 10px;
              font-weight: bold;
              border: none;
              border-left: 1px solid #f0f0f0;
              background-color: transparent; }
              .container-fluid .packages-block .packages-block-center .card-deck .card .card-footer button:hover {
                background-color: #C19B46;
                transition: .2s; }
      .container-fluid .packages-block .packages-block-center > button {
        display: block;
        padding: 14px 16px 11px 20px;
        background-color: #E3C794;
        border: none;
        letter-spacing: 0.1px;
        word-spacing: 1px;
        margin: 40px auto 30px; }
        .container-fluid .packages-block .packages-block-center > button:hover {
          transform: scale(1.1, 1.1);
          transition: .2s; }
        .container-fluid .packages-block .packages-block-center > button img {
          width: 13px;
          height: 13px;
          vertical-align: middle;
          margin-left: 11px; }
  .container-fluid .business-aviation-service-block {
    width: 100%;
    background-image: url(../images/bg3.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black; }
    .container-fluid .business-aviation-service-block .business-aviation-service-block-center {
      width: 80%;
      max-width: 935px;
      margin: 0 auto;
      padding: 60px 0px;
      position: relative; }
      .container-fluid .business-aviation-service-block .business-aviation-service-block-center h4 {
        width: 60%;
        font-size: 38px;
        color: #C19B46;
        font-family: 'Etelka Medium Pro'; }
        .container-fluid .business-aviation-service-block .business-aviation-service-block-center h4 span {
          color: black; }
      .container-fluid .business-aviation-service-block .business-aviation-service-block-center p {
        width: 47%;
        line-height: 22px;
        font-weight: bold;
        padding-top: 20px; }
      .container-fluid .business-aviation-service-block .business-aviation-service-block-center > button {
        display: block;
        padding: 14px 16px 11px 20px;
        background-color: #E3C794;
        border: none;
        letter-spacing: 0.1px;
        word-spacing: 1px;
        margin: 30px auto 30px 0px; }
        .container-fluid .business-aviation-service-block .business-aviation-service-block-center > button:hover {
          transform: scale(1.1, 1.1);
          transition: .2s; }
        .container-fluid .business-aviation-service-block .business-aviation-service-block-center > button img {
          width: 13px;
          height: 13px;
          vertical-align: middle;
          margin-left: 11px; }
      .container-fluid .business-aviation-service-block .business-aviation-service-block-center > img {
        width: 80%;
        position: absolute;
        top: 60%;
        right: 0%;
        transform: translate(35%, -50%); }
  .container-fluid .latest-news-block {
    background-color: transparent;
    color: black;
    max-width: 935px;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0; }
    .container-fluid .latest-news-block h4.title {
      font-size: 38px;
      padding-bottom: 20px;
      text-align: center;
      font-family: 'Etelka Medium Pro'; }
      .container-fluid .latest-news-block h4.title span {
        color: #C19B46; }
    .container-fluid .latest-news-block .card-deck {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .container-fluid .latest-news-block .card-deck .card {
        width: 32%;
        background-color: #fff; }
        .container-fluid .latest-news-block .card-deck .card .card-img {
          width: 100%; }
          .container-fluid .latest-news-block .card-deck .card .card-img img {
            width: 100%; }
        .container-fluid .latest-news-block .card-deck .card .card-body {
          width: 100%;
          padding: 15px 15px 10px;
          border-bottom: 1px solid #f0f0f0; }
          .container-fluid .latest-news-block .card-deck .card .card-body h6.title {
            font-size: 16px;
            font-family: 'Etelka Medium Pro';
            padding-bottom: 5px; }
          .container-fluid .latest-news-block .card-deck .card .card-body small {
            width: 100%;
            font-size: 10px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.7); }
        .container-fluid .latest-news-block .card-deck .card .card-footer {
          width: 100%;
          display: flex;
          justify-content: space-between; }
          .container-fluid .latest-news-block .card-deck .card .card-footer .info {
            width: 65%;
            display: flex;
            justify-content: space-between;
            padding: 13px 15px; }
            .container-fluid .latest-news-block .card-deck .card .card-footer .info span {
              font-size: 10px;
              font-weight: bold;
              color: rgba(0, 0, 0, 0.7); }
              .container-fluid .latest-news-block .card-deck .card .card-footer .info span:nth-of-type(2) {
                color: #E3C794; }
          .container-fluid .latest-news-block .card-deck .card .card-footer button {
            width: 35%;
            font-size: 10px;
            font-weight: bold;
            border: none;
            border-left: 1px solid #f0f0f0;
            background-color: transparent; }
            .container-fluid .latest-news-block .card-deck .card .card-footer button:hover {
              background-color: #E3C794; }
    .container-fluid .latest-news-block > button {
      display: block;
      padding: 14px 16px 11px 20px;
      background-color: #E3C794;
      border: none;
      letter-spacing: 0.1px;
      word-spacing: 1px;
      margin: 40px auto 30px; }
      .container-fluid .latest-news-block > button:hover {
        transform: scale(1.1, 1.1);
        transition: .2s; }
      .container-fluid .latest-news-block > button img {
        width: 13px;
        height: 13px;
        vertical-align: middle;
        margin-left: 11px; }
  .container-fluid .our-partners-block {
    width: 100%;
    background-color: #fff;
    color: black; }
    .container-fluid .our-partners-block .our-partners-block-center {
      width: 80%;
      max-width: 935px;
      background-color: transparent;
      margin: 0 auto;
      padding: 50px 0px; }
      .container-fluid .our-partners-block .our-partners-block-center h4.title {
        text-align: center;
        font-size: 38px;
        font-family: 'Etelka Medium Pro'; }
        .container-fluid .our-partners-block .our-partners-block-center h4.title span {
          color: #C19B46; }
      .container-fluid .our-partners-block .our-partners-block-center .Logos {
        width: 100%;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .container-fluid .our-partners-block .our-partners-block-center .Logos .logo {
          width: 16.5%;
          height: 5vw;
          position: relative;
          text-align: center; }
          .container-fluid .our-partners-block .our-partners-block-center .Logos .logo img {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            filter: grayscale(200%);
            transition: filter 0.2s ease-out; }
          .container-fluid .our-partners-block .our-partners-block-center .Logos .logo:hover {
            box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.5); }
            .container-fluid .our-partners-block .our-partners-block-center .Logos .logo:hover img {
              filter: grayscale(0%); }
  .container-fluid .our-clients-block {
    color: black;
    width: 80%;
    max-width: 935px;
    background-color: transparent;
    margin: 0 auto;
    padding: 60px 0px 70px; }
    .container-fluid .our-clients-block h4.title {
      text-align: center;
      font-size: 38px;
      font-family: 'Etelka Medium Pro'; }
      .container-fluid .our-clients-block h4.title span {
        color: #C19B46; }
    .container-fluid .our-clients-block .clients {
      width: 100%;
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .container-fluid .our-clients-block .clients .client {
        width: 16.5%;
        text-align: center;
        position: relative;
        height: 6vw; }
        .container-fluid .our-clients-block .clients .client img {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 80%;
          animation-name: filter;
          animation-duration: 1.5s;
          animation-timing-function: ease-out;
          animation-iteration-count: infinite;
          animation-direction: alternate; }
  .container-fluid .footer-block {
    width: 100%;
    background-color: #38182a;
    box-shadow: inset 0px -750px 550px -550px rgba(0, 0, 0, 0.5); }
    .container-fluid .footer-block .footer-block-center {
      width: 80%;
      max-width: 935px;
      margin: 0 auto;
      padding-top: 60px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start; }
      .container-fluid .footer-block .footer-block-center .about-citizen {
        width: 30%; }
        .container-fluid .footer-block .footer-block-center .about-citizen .citizen-logo {
          width: 60%; }
          .container-fluid .footer-block .footer-block-center .about-citizen .citizen-logo img {
            width: 100%; }
        .container-fluid .footer-block .footer-block-center .about-citizen p {
          padding-top: 15px;
          font-size: 10px;
          line-height: 18px; }
      .container-fluid .footer-block .footer-block-center .contact-info {
        width: 15%; }
        .container-fluid .footer-block .footer-block-center .contact-info h4.title {
          text-transform: uppercase;
          font-family: 'Etelka Medium Pro';
          letter-spacing: 0.5px; }
        .container-fluid .footer-block .footer-block-center .contact-info ul {
          padding-top: 20px;
          list-style: none; }
          .container-fluid .footer-block .footer-block-center .contact-info ul li {
            display: flex;
            justify-content: flex-start;
            font-size: 10px;
            padding: 8px 0; }
            .container-fluid .footer-block .footer-block-center .contact-info ul li img {
              margin-right: 6px;
              width: 16px;
              align-self: flex-start; }
            .container-fluid .footer-block .footer-block-center .contact-info ul li span {
              line-height: 15px; }
      .container-fluid .footer-block .footer-block-center .useful-links {
        width: 15%; }
        .container-fluid .footer-block .footer-block-center .useful-links h4.title {
          text-transform: uppercase;
          font-family: 'Etelka Medium Pro';
          letter-spacing: 0.5px; }
        .container-fluid .footer-block .footer-block-center .useful-links ul {
          padding-top: 20px;
          list-style: none; }
          .container-fluid .footer-block .footer-block-center .useful-links ul li {
            display: flex;
            justify-content: flex-start;
            font-size: 10px;
            padding: 8px 0; }
            .container-fluid .footer-block .footer-block-center .useful-links ul li::before {
              content: url(../icons/chevron-down-solid.svg.png);
              margin-right: 5px; }
      .container-fluid .footer-block .footer-block-center .information {
        width: 15%; }
        .container-fluid .footer-block .footer-block-center .information h4.title {
          text-transform: uppercase;
          font-family: 'Etelka Medium Pro';
          letter-spacing: 0.5px; }
        .container-fluid .footer-block .footer-block-center .information ul {
          padding-top: 20px;
          list-style: none; }
          .container-fluid .footer-block .footer-block-center .information ul li {
            display: flex;
            justify-content: flex-start;
            font-size: 10px;
            padding: 8px 0; }
            .container-fluid .footer-block .footer-block-center .information ul li::before {
              content: url(../icons/chevron-down-solid.svg.png);
              margin-right: 5px; }
      .container-fluid .footer-block .footer-block-center .get-in-touch {
        width: 20%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .container-fluid .footer-block .footer-block-center .get-in-touch .icons {
          width: 16.5%;
          margin-bottom: 5px; }
          .container-fluid .footer-block .footer-block-center .get-in-touch .icons:nth-last-of-type(1) {
            margin-right: auto; }
          .container-fluid .footer-block .footer-block-center .get-in-touch .icons img {
            width: 16px;
            filter: invert(1); }
    .container-fluid .footer-block .copyright {
      width: 100%;
      padding: 20px 0px;
      text-align: center;
      margin-top: 70px;
      border-top: 1px solid #f0f0f0; }
  .container-fluid .scrolltop {
    width: 3vw;
    height: 3vw;
    min-width: 40px;
    min-height: 40px;
    position: fixed;
    right: calc(-3vw - 40px);
    bottom: calc(-3vw - 40px);
    background-color: #C19B46;
    border-radius: 50%;
    transition: all 0.3s ease-out;
    cursor: pointer; }
    .container-fluid .scrolltop img {
      width: 20%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotateZ(-90deg); }

@media (min-width: 0px) and (max-width: 960px) {
  .container-fluid .home-block .home-block-center div.nav-menu {
    margin-bottom: 100px; }
    .container-fluid .home-block .home-block-center div.nav-menu .button-nav-menu {
      display: block;
      position: relative;
      z-index: 1001; }
    .container-fluid .home-block .home-block-center div.nav-menu > ul {
      position: absolute;
      flex-direction: column;
      justify-content: space-around;
      height: 0;
      min-height: 0;
      padding: 0;
      overflow: hidden;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #222;
      font-size: 18px;
      letter-spacing: 0.2vw;
      z-index: 1000; }
      .container-fluid .home-block .home-block-center div.nav-menu > ul li .dropdown-menu {
        border: 3px solid #C19B46;
        background-color: #222; }
        .container-fluid .home-block .home-block-center div.nav-menu > ul li .dropdown-menu ul li a {
          padding: 6px 0px 6px 8px;
          font-size: 16px; }
  .container-fluid .home-block .home-block-center div.home-content {
    position: relative; }
    .container-fluid .home-block .home-block-center div.home-content .content-text {
      width: 100%; }
    .container-fluid .home-block .home-block-center div.home-content .content-play-video {
      position: absolute;
      transform: rotateZ(90deg) translateX(100%) translateY(40%);
      right: 0px;
      bottom: 0; }
  .container-fluid .home-block .position-block {
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    padding: 5px 15px; }
    .container-fluid .home-block .position-block div.col-3 {
      width: 27vw;
      justify-content: flex-start; }
  .container-fluid .about-block {
    flex-wrap: wrap; }
    .container-fluid .about-block .about-citizen {
      width: 100%;
      padding-top: 0; }
      .container-fluid .about-block .about-citizen h2 {
        text-align: center; }
      .container-fluid .about-block .about-citizen h4 {
        text-align: center; }
        .container-fluid .about-block .about-citizen h4 br {
          display: none; }
      .container-fluid .about-block .about-citizen button {
        display: block;
        margin: 0 auto; }
    .container-fluid .about-block .images-citizen {
      padding-top: 30px;
      width: 100%;
      justify-content: space-around; }
      .container-fluid .about-block .images-citizen .citizen-img-group {
        width: 48%;
        padding-left: 0; }
      .container-fluid .about-block .images-citizen .citizen-img-three {
        padding-left: 0;
        width: 48%; }
  .container-fluid .services-block {
    flex-wrap: wrap; }
    .container-fluid .services-block .col-3 {
      width: 50%; }
      .container-fluid .services-block .col-3 .info .icon-text .icon img {
        width: 4.6vw; }
      .container-fluid .services-block .col-3 .info .icon-text p {
        font-size: 2vw;
        margin-left: 1.6vw; }
      .container-fluid .services-block .col-3 .info span.number {
        font-size: calc(20px + 4vw); }
  .container-fluid .packages-block .packages-block-center .card-deck .card .card-body h6.title {
    font-size: 1.6vw;
    word-spacing: -1px; } }
@media (min-width: 0px) and (max-width: 859.9px) {
  .container-fluid .home-block .home-block-center {
    width: 90%; }
    .container-fluid .home-block .home-block-center div.nav .logo img {
      width: 65%; }
    .container-fluid .home-block .home-block-center div.nav-menu {
      margin-bottom: 100px; }
  .container-fluid .home-block .position-block div.col-3 {
    width: 32vw; }
  .container-fluid .packages-block .packages-block-center .card-deck {
    flex-wrap: wrap;
    justify-content: space-around; }
    .container-fluid .packages-block .packages-block-center .card-deck .card {
      width: 48%;
      margin-top: 10px; }
      .container-fluid .packages-block .packages-block-center .card-deck .card .card-body h6.title {
        font-size: 2vw; }
  .container-fluid .latest-news-block .card-deck {
    flex-wrap: wrap;
    justify-content: space-around; }
    .container-fluid .latest-news-block .card-deck .card {
      width: 48%;
      margin-top: 10px; }
      .container-fluid .latest-news-block .card-deck .card .card-body h6.title {
        font-size: 2vw; }
  .container-fluid .footer-block .footer-block-center {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px; }
    .container-fluid .footer-block .footer-block-center > div {
      width: 50% !important;
      margin: 0px auto 20px; }
      .container-fluid .footer-block .footer-block-center > div.about-citizen {
        width: 100% !important;
        margin-top: 20px; }
        .container-fluid .footer-block .footer-block-center > div.about-citizen .citizen-logo {
          width: 30%;
          margin: 0 auto; }
        .container-fluid .footer-block .footer-block-center > div.about-citizen p {
          margin: 10px 0;
          font-size: 14px; }
      .container-fluid .footer-block .footer-block-center > div.get-in-touch {
        justify-content: flex-start; }
        .container-fluid .footer-block .footer-block-center > div.get-in-touch .icons {
          margin-right: 2vw;
          margin-bottom: 20px; }
      .container-fluid .footer-block .footer-block-center > div h4.title {
        font-size: 15px; }
      .container-fluid .footer-block .footer-block-center > div ul {
        padding-top: 5px !important; }
        .container-fluid .footer-block .footer-block-center > div ul li {
          font-size: 14px !important; } }
@media (min-width: 0px) and (max-width: 659.9px) {
  .container-fluid .home-block .home-block-center div.nav .language-menu {
    position: absolute;
    z-index: 1001;
    height: 50vh;
    padding: 5vh 0;
    top: 0;
    margin-left: -60px; }
    .container-fluid .home-block .home-block-center div.nav .language-menu ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around; }
      .container-fluid .home-block .home-block-center div.nav .language-menu ul li a {
        padding: 10px; }
  .container-fluid .home-block .home-block-center div.nav .logo {
    width: 50%; }
  .container-fluid .home-block .home-block-center div.nav .nummail {
    width: 50%;
    font-size: 2.6vw; }
    .container-fluid .home-block .home-block-center div.nav .nummail .icon-tel {
      width: 6vw;
      height: 6vw; }
  .container-fluid .home-block .home-block-center div.nav-menu {
    margin-bottom: 70px; }
  .container-fluid .home-block .home-block-center div.home-content .content-text p br {
    display: none; }
  .container-fluid .home-block .home-block-center div.home-content .content-play-video .play-icon {
    width: calc(25px + 5vw);
    height: calc(25px + 5vw); }
  .container-fluid .home-block .social-icons {
    flex-direction: row;
    bottom: 10%;
    left: 5%; }
    .container-fluid .home-block .social-icons .icons-item {
      margin-right: 10px; }
  .container-fluid .home-block .position-block {
    justify-content: space-between;
    width: 80%;
    padding: 5px 10px; }
    .container-fluid .home-block .position-block div.col-3 {
      width: 48%;
      align-items: center; }
      .container-fluid .home-block .position-block div.col-3 h6.title {
        font-size: 2.2vw !important; }
      .container-fluid .home-block .position-block div.col-3 p {
        display: none; }
  .container-fluid .about-block .images-citizen {
    flex-wrap: wrap; }
    .container-fluid .about-block .images-citizen .citizen-img-group {
      width: 100%; }
    .container-fluid .about-block .images-citizen .citizen-img-three {
      width: 100%; }
  .container-fluid .services-block .col-3 {
    width: 100%; }
    .container-fluid .services-block .col-3 .info .icon-text .icon img {
      width: 9.2vw; }
    .container-fluid .services-block .col-3 .info .icon-text p {
      font-size: 4vw;
      margin-left: 3.2vw; }
    .container-fluid .services-block .col-3 .info span.number {
      font-size: calc(30px + 4vw); }
  .container-fluid .logo-block {
    padding-top: 50px;
    width: 90%;
    flex-wrap: wrap; }
    .container-fluid .logo-block .mice-uzb-text {
      width: 100%; }
      .container-fluid .logo-block .mice-uzb-text h6 {
        text-align: center; }
    .container-fluid .logo-block .mice-uzb-img {
      margin-top: 20px !important;
      width: 90%;
      margin: 0 auto; }
  .container-fluid .packages-block .packages-block-center .card-deck .card {
    width: 100%;
    margin-top: 10px; }
    .container-fluid .packages-block .packages-block-center .card-deck .card .card-body h6.title {
      font-size: 4vw; }
    .container-fluid .packages-block .packages-block-center .card-deck .card .card-body small {
      margin-top: 5px;
      font-size: 14px;
      line-height: 22px; }
    .container-fluid .packages-block .packages-block-center .card-deck .card .card-footer .info span,
    .container-fluid .packages-block .packages-block-center .card-deck .card .card-footer button {
      font-size: 13px; }
  .container-fluid .business-aviation-service-block .business-aviation-service-block-center h4.title {
    width: 100%;
    text-align: center; }
  .container-fluid .business-aviation-service-block .business-aviation-service-block-center p {
    width: 100%; }
  .container-fluid .business-aviation-service-block .business-aviation-service-block-center button {
    margin: 20px auto; }
  .container-fluid .business-aviation-service-block .business-aviation-service-block-center img {
    transform: unset;
    position: unset;
    width: 100%; }
  .container-fluid .latest-news-block .card-deck .card {
    width: 100%;
    margin-top: 10px; }
    .container-fluid .latest-news-block .card-deck .card .card-body h6.title {
      font-size: 4vw; }
    .container-fluid .latest-news-block .card-deck .card .card-body small {
      margin-top: 5px;
      font-size: 14px;
      line-height: 22px; }
    .container-fluid .latest-news-block .card-deck .card .card-footer .info span,
    .container-fluid .latest-news-block .card-deck .card .card-footer button {
      font-size: 13px; }
  .container-fluid .our-partners-block .our-partners-block-center .Logos {
    flex-wrap: wrap; }
    .container-fluid .our-partners-block .our-partners-block-center .Logos .logo {
      height: 15vw;
      width: 50%; }
  .container-fluid .our-clients-block .clients {
    flex-wrap: wrap;
    justify-content: space-around; }
    .container-fluid .our-clients-block .clients .client {
      height: 16vw;
      width: 50%; }
      .container-fluid .our-clients-block .clients .client img {
        width: 60%; } }
@keyframes filter {
  0% {
    filter: grayscale(0%); }
  60% {
    filter: grayscale(0%); }
  100% {
    filter: grayscale(100%); } }

/*# sourceMappingURL=main.css.map */
